.home-container {
  // background-color: gray;
}

.home-header {
  font-size: 3em;
  padding: 7% 0 0 0;
  width: 75%;
}

.home-header-description {
  padding: 1% 0 0 0;
  color: #383838;
  font-weight: 400;
  font-size: 1.5em;
}
