.navbar {
  padding: 1.5% 0 0 0 !important;
}

.profilePicture {
  margin: 0 3% 0 0;
  vertical-align: middle;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.navLinkLight {
  text-decoration: none;
  color: #303030;
  margin: 0 1em 0 1em !important;
}

.navLinkDark {
  text-decoration: none;
  color: #ffffff !important;
  margin: 0 1em 0 1em !important;
}

.navbarToggler:focus {
  box-shadow: none !important;
}

.navLogo {
  margin: 0 0.6em 0 0.6em;
  width: 2em;
}

.navRightSide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.themeToggler {
  margin: 4% 10% 0 0;
}
