.navbar {
  padding: 1.5% 0 0 0 !important;
}
.profile-picture {
  margin: 0 3% 0 0;
  vertical-align: middle;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.nav-link-light {
  text-decoration: none;
  color: #303030;
  margin: 0 1em 0 1em !important;
}

.nav-link-dark {
  text-decoration: none;
  color: #ffffff !important;
  margin: 0 1em 0 1em !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.nav-logo {
  margin: 0 0.6em 0 0.6em;
  width: 2em;
}

.nav-right-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-toggler {
  margin: 4% 10% 0 0;
}
