html,
body,
#app,
#app > div {
  height: 100%;
}

@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
  background: rgb(222, 222, 222);
  background: linear-gradient(
    180deg,
    rgba(222, 222, 222, 1) 0%,
    rgba(255, 255, 255, 0.05) 50%,
    rgba(222, 222, 222, 1) 100%
  );
}
