.card-body {
  width: 100% !important;
  margin: 0 !important;
}

.blog-card-dark {
  background-color: #303030 !important;
}

.blog-card-subtext {
  font-size: 0.9em;
}

.blog-card-footer {
  display: flex;
}

.blog-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-top {
  width: 70% !important;
}

.card-title {
  margin-bottom: 0.5% !important;
}

.blog-card {
  box-shadow: 1px -1px 13px 1px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px -1px 13px 1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px -1px 13px 1px rgba(0, 0, 0, 0.6);
}

.card-text {
  margin: 4% 0 2% 0 !important;
}

.blog-container {
  width: 40%;
  margin: 2% 0 0 30%;
}

.blog-col {
  justify-content: center;
}

.blog-card-left {
  margin-left: auto;
}

.blog-post-container {
  margin: 3% 0 0 0;
}

.blog-post-header {
  margin-bottom: 2%;
}

.blog-post-content {
  width: 40%;
  margin: 0 0 0 30%;
}

.blog-post-title {
  font-size: 2em;
  text-align: center;
}

.blog-post-subtitle {
  text-align: center;
}

.blog-post-subtitle-spacing {
  margin: 0.5em;
  color: white !important;
}
