.footer-dark,
.footer {
  margin-top: 8em;
  height: 8em;
  display: flex;
  align-items: center;
}

.footer-dark {
  background-color: #303846;
}

.footer {
  background-color: #e8e8e8;
}

.footer-content {
  display: flex;
  margin: 0;
}

.footer-text-dark {
  color: #202020;
  text-decoration: none;
}

.footer-text {
  color: white;
  text-decoration: none;
}

.footer-right {
  margin-left: auto;
}
