.footer,
.footer-dark {
  height: 200px;
}

.footer-dark {
  background-color: #303846;
}

.footer {
}

.footer-text {
  padding: 0 !important;
  margin: 0 !important;
}

.footer-copyright {
  text-align: center;
}
