.header {
  font-size: 3.3em;
  padding: 5% 0 0 0;
  font-family: 'Karla', sans-serif;
}

.header-description {
  padding: 1% 0 0 0;
  color: #383838;
  font-weight: 400;
  font-size: 2em;
  font-family: 'Karla', sans-serif;
}

.header-description-dark {
  padding: 1% 0 0 0;
  color: #dfdfdf;
  font-weight: 400;
  font-size: 2em;
  font-family: 'Karla', sans-serif;
}
